In [1]:
import pyodbc
connection_string = "Driver=SQL Server;Server=localhost\MSSQLSERVER2017;Database={SQL_Learnings};Trusted_Connection=Yes;"

In [3]:
import pandas as pd
import os
df = pd.read_csv(r"C:\Users\chands1\Documents\chandan.csv")
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,7/31/2012,7/31/2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,2/5/2013,2/7/2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,10/17/2013,10/18/2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,1/28/2013,1/30/2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,11/5/2013,11/6/2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [21]:
from sqlalchemy import Table,MetaData,create_engine
metadata=MetaData()
engine=create_engine('sqlite:///chandan.db')
#df.to_sql('orders',engine)
orders=Table('orders',metadata,autoload=True,autoload_with=engine)

In [22]:
print(engine.table_names())

['orders']

In [76]:
from sqlalchemy import select,Table
connection=engine.connect()
print(engine.table_names())
stmt=select([orders])
result=connection.execute(stmt).fetchmany(10)
print(result)

['orders']
[(0, 32298, 'CA-2012-124891', '7/31/2012', '7/31/2012', 'Same Day', 'RH-19495', 'Rick Hansen', 'Consumer', 'New York City', 'New York', 'United States', 10024.0, 'US', 'East', 'TEC-AC-10003033', 'Technology', 'Accessories', 'Plantronics CS510 - Over-the-Head monaural Wireless Headset System', 2309.65, 7, 0.0, 762.1845, 933.57, 'Critical'), (1, 26341, 'IN-2013-77878', '2/5/2013', '2/7/2013', 'Second Class', 'JR-16210', 'Justin Ritter', 'Corporate', 'Wollongong', 'New South Wales', 'Australia', None, 'APAC', 'Oceania', 'FUR-CH-10003950', 'Furniture', 'Chairs', 'Novimex Executive Leather Armchair, Black', 3709.395, 9, 0.1, -288.765, 923.63, 'Critical'), (2, 25330, 'IN-2013-71249', '10/17/2013', '10/18/2013', 'First Class', 'CR-12730', 'Craig Reiter', 'Consumer', 'Brisbane', 'Queensland', 'Australia', None, 'APAC', 'Oceania', 'TEC-PH-10004664', 'Technology', 'Phones', 'Nokia Smart Phone, with Caller ID', 5175.170999999999, 9, 0.1, 919.971, 915.49, 'Medium'), (3, 13524, 'ES-2013-1579342', '1/28/2013', '1/30/2013', 'First Class', 'KM-16375', 'Katherine Murray', 'Home Office', 'Berlin', 'Berlin', 'Germany', None, 'EU', 'Central', 'TEC-PH-10004583', 'Technology', 'Phones', 'Motorola Smart Phone, Cordless', 2892.51, 5, 0.1, -96.54, 910.16, 'Medium'), (4, 47221, 'SG-2013-4320', '11/5/2013', '11/6/2013', 'Same Day', 'RH-9495', 'Rick Hansen', 'Consumer', 'Dakar', 'Dakar', 'Senegal', None, 'Africa', 'Africa', 'TEC-SHA-10000501', 'Technology', 'Copiers', 'Sharp Wireless Fax, High-Speed', 2832.96, 8, 0.0, 311.52, 903.04, 'Critical'), (5, 22732, 'IN-2013-42360', '6/28/2013', '7/1/2013', 'Second Class', 'JM-15655', 'Jim Mitchum', 'Corporate', 'Sydney', 'New South Wales', 'Australia', None, 'APAC', 'Oceania', 'TEC-PH-10000030', 'Technology', 'Phones', 'Samsung Smart Phone, with Caller ID', 2862.675, 5, 0.1, 763.275, 897.35, 'Critical'), (6, 30570, 'IN-2011-81826', '11/7/2011', '11/9/2011', 'First Class', 'TS-21340', 'Toby Swindell', 'Consumer', 'Porirua', 'Wellington', 'New Zealand', None, 'APAC', 'Oceania', 'FUR-CH-10004050', 'Furniture', 'Chairs', 'Novimex Executive Leather Armchair, Adjustable', 1822.08, 4, 0.0, 564.84, 894.77, 'Critical'), (7, 31192, 'IN-2012-86369', '4/14/2012', '4/18/2012', 'Standard Class', 'MB-18085', 'Mick Brown', 'Consumer', 'Hamilton', 'Waikato', 'New Zealand', None, 'APAC', 'Oceania', 'FUR-TA-10002958', 'Furniture', 'Tables', 'Chromcraft Conference Table, Fully Assembled', 5244.84, 6, 0.0, 996.48, 878.38, 'High'), (8, 40155, 'CA-2014-135909', '10/14/2014', '10/21/2014', 'Standard Class', 'JW-15220', 'Jane Waco', 'Corporate', 'Sacramento', 'California', 'United States', 95823.0, 'US', 'West', 'OFF-BI-10003527', 'Office Supplies', 'Binders', 'Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind', 5083.96, 5, 0.2, 1906.485, 867.69, 'Low'), (9, 40936, 'CA-2012-116638', '1/28/2012', '1/31/2012', 'Second Class', 'JH-15985', 'Joseph Holt', 'Consumer', 'Concord', 'North Carolina', 'United States', 28027.0, 'US', 'South', 'FUR-TA-10000198', 'Furniture', 'Tables', 'Chromcraft Bull-Nose Wood Oval Conference Tables & Bases', 4297.644, 13, 0.4, -1862.3124, 865.74, 'Critical')]

In [56]:
df=pd.DataFrame(result)
df.columns=result[0].keys()
print(df)

   index  Row ID         Order ID  Order Date   Ship Date       Ship Mode  \
0      0   32298   CA-2012-124891   7/31/2012   7/31/2012        Same Day
1      1   26341    IN-2013-77878    2/5/2013    2/7/2013    Second Class
2      2   25330    IN-2013-71249  10/17/2013  10/18/2013     First Class
3      3   13524  ES-2013-1579342   1/28/2013   1/30/2013     First Class
4      4   47221     SG-2013-4320   11/5/2013   11/6/2013        Same Day
5      5   22732    IN-2013-42360   6/28/2013    7/1/2013    Second Class
6      6   30570    IN-2011-81826   11/7/2011   11/9/2011     First Class
7      7   31192    IN-2012-86369   4/14/2012   4/18/2012  Standard Class
8      8   40155   CA-2014-135909  10/14/2014  10/21/2014  Standard Class
9      9   40936   CA-2012-116638   1/28/2012   1/31/2012    Second Class

  Customer ID     Customer Name      Segment           City       ...        \
0    RH-19495       Rick Hansen     Consumer  New York City       ...
1    JR-16210     Justin Ritter    Corporate     Wollongong       ...
2    CR-12730      Craig Reiter     Consumer       Brisbane       ...
3    KM-16375  Katherine Murray  Home Office         Berlin       ...
4     RH-9495       Rick Hansen     Consumer          Dakar       ...
5    JM-15655       Jim Mitchum    Corporate         Sydney       ...
6    TS-21340     Toby Swindell     Consumer        Porirua       ...
7    MB-18085        Mick Brown     Consumer       Hamilton       ...
8    JW-15220         Jane Waco    Corporate     Sacramento       ...
9    JH-15985       Joseph Holt     Consumer        Concord       ...

         Product ID         Category  Sub-Category  \
0   TEC-AC-10003033       Technology   Accessories
1   FUR-CH-10003950        Furniture        Chairs
2   TEC-PH-10004664       Technology        Phones
3   TEC-PH-10004583       Technology        Phones
4  TEC-SHA-10000501       Technology       Copiers
5   TEC-PH-10000030       Technology        Phones
6   FUR-CH-10004050        Furniture        Chairs
7   FUR-TA-10002958        Furniture        Tables
8   OFF-BI-10003527  Office Supplies       Binders
9   FUR-TA-10000198        Furniture        Tables

                                        Product Name     Sales Quantity  \
0  Plantronics CS510 - Over-the-Head monaural Wir...  2309.650        7
1          Novimex Executive Leather Armchair, Black  3709.395        9
2                  Nokia Smart Phone, with Caller ID  5175.171        9
3                     Motorola Smart Phone, Cordless  2892.510        5
4                     Sharp Wireless Fax, High-Speed  2832.960        8
5                Samsung Smart Phone, with Caller ID  2862.675        5
6     Novimex Executive Leather Armchair, Adjustable  1822.080        4
7       Chromcraft Conference Table, Fully Assembled  5244.840        6
8  Fellowes PB500 Electric Punch Plastic Comb Bin...  5083.960        5
9  Chromcraft Bull-Nose Wood Oval Conference Tabl...  4297.644       13

  Discount     Profit Shipping Cost  Order Priority
0      0.0   762.1845        933.57        Critical
1      0.1  -288.7650        923.63        Critical
2      0.1   919.9710        915.49          Medium
3      0.1   -96.5400        910.16          Medium
4      0.0   311.5200        903.04        Critical
5      0.1   763.2750        897.35        Critical
6      0.0   564.8400        894.77        Critical
7      0.0   996.4800        878.38            High
8      0.2  1906.4850        867.69             Low
9      0.4 -1862.3124        865.74        Critical

[10 rows x 25 columns]

In [62]:
df=df.append({'Row ID':60000,
'Order ID':'CA-2012-124891',
'Order Date':'7/31/2012',
'Ship Date':'8/31/2012',
'Ship Mode':'Second Class',
'Customer ID':'RH-19495',
'Customer Name':'chandan',
'Segment':'Consumer',  
'City':'New York City',
'State':'karnatak',
'Product ID':'TEC-AC-10003033',          
'Category':'Technology',
'Sub-Category':'Accessories',
'Product Name':'Nokia Smart Phone with Caller ID',
'Sales':5478,
'Quantity':2,
'Discount':0.0,
'Profit':458,
'Shipping Cost':234,
'Order Priority':'Critical'},ignore_index=True)

In [63]:
df = df.iloc[[0, -1]]
print(df)

    index  Row ID        Order ID Order Date  Ship Date     Ship Mode  \
0     0.0   32298  CA-2012-124891  7/31/2012  7/31/2012      Same Day
10    NaN   60000  CA-2012-124891  7/31/2012  8/31/2012  Second Class

   Customer ID Customer Name   Segment           City       ...        \
0     RH-19495   Rick Hansen  Consumer  New York City       ...
10    RH-19495       chandan  Consumer  New York City       ...

         Product ID    Category  Sub-Category  \
0   TEC-AC-10003033  Technology   Accessories
10  TEC-AC-10003033  Technology   Accessories

                                         Product Name    Sales Quantity  \
0   Plantronics CS510 - Over-the-Head monaural Wir...  2309.65        7
10                   Nokia Smart Phone with Caller ID  5478.00        2

   Discount    Profit Shipping Cost  Order Priority
0       0.0  762.1845        933.57        Critical
10      0.0  458.0000        234.00        Critical

[2 rows x 25 columns]

In [95]:
l1=[60001, 'CA-2012-124891', '7/31/2012', '7/31/2012', 'Same Day', 'RH-19495', 'Rick Hansen', 'Consumer', 'New York City', 'tel', 'TEC-AC-10003033', 'Technology', 'Accessories Novimex Executive Leather Armchair', 'Black', 3709.395, 9, 0.0, 762.1845, 933.5, 'Critical']
print(l1)

[60001, 'CA-2012-124891', '7/31/2012', '7/31/2012', 'Same Day', 'RH-19495', 'Rick Hansen', 'Consumer', 'New York City', 'tel', 'TEC-AC-10003033', 'Technology', 'Accessories Novimex Executive Leather Armchair', 'Black', 3709.395, 9, 0.0, 762.1845, 933.5, 'Critical']

In [94]:
from sqlalchemy import Table
res=Table('orders',metadata,autoload=True,autoload_with=engine)
stmt=select([res])
res1=connection.execute(stmt).fetchmany(10)
print(res1)

[(0, 32298, 'CA-2012-124891', '7/31/2012', '7/31/2012', 'Same Day', 'RH-19495', 'Rick Hansen', 'Consumer', 'New York City', 'New York', 'United States', 10024.0, 'US', 'East', 'TEC-AC-10003033', 'Technology', 'Accessories', 'Plantronics CS510 - Over-the-Head monaural Wireless Headset System', 2309.65, 7, 0.0, 762.1845, 933.57, 'Critical'), (1, 26341, 'IN-2013-77878', '2/5/2013', '2/7/2013', 'Second Class', 'JR-16210', 'Justin Ritter', 'Corporate', 'Wollongong', 'New South Wales', 'Australia', None, 'APAC', 'Oceania', 'FUR-CH-10003950', 'Furniture', 'Chairs', 'Novimex Executive Leather Armchair, Black', 3709.395, 9, 0.1, -288.765, 923.63, 'Critical'), (2, 25330, 'IN-2013-71249', '10/17/2013', '10/18/2013', 'First Class', 'CR-12730', 'Craig Reiter', 'Consumer', 'Brisbane', 'Queensland', 'Australia', None, 'APAC', 'Oceania', 'TEC-PH-10004664', 'Technology', 'Phones', 'Nokia Smart Phone, with Caller ID', 5175.170999999999, 9, 0.1, 919.971, 915.49, 'Medium'), (3, 13524, 'ES-2013-1579342', '1/28/2013', '1/30/2013', 'First Class', 'KM-16375', 'Katherine Murray', 'Home Office', 'Berlin', 'Berlin', 'Germany', None, 'EU', 'Central', 'TEC-PH-10004583', 'Technology', 'Phones', 'Motorola Smart Phone, Cordless', 2892.51, 5, 0.1, -96.54, 910.16, 'Medium'), (4, 47221, 'SG-2013-4320', '11/5/2013', '11/6/2013', 'Same Day', 'RH-9495', 'Rick Hansen', 'Consumer', 'Dakar', 'Dakar', 'Senegal', None, 'Africa', 'Africa', 'TEC-SHA-10000501', 'Technology', 'Copiers', 'Sharp Wireless Fax, High-Speed', 2832.96, 8, 0.0, 311.52, 903.04, 'Critical'), (5, 22732, 'IN-2013-42360', '6/28/2013', '7/1/2013', 'Second Class', 'JM-15655', 'Jim Mitchum', 'Corporate', 'Sydney', 'New South Wales', 'Australia', None, 'APAC', 'Oceania', 'TEC-PH-10000030', 'Technology', 'Phones', 'Samsung Smart Phone, with Caller ID', 2862.675, 5, 0.1, 763.275, 897.35, 'Critical'), (6, 30570, 'IN-2011-81826', '11/7/2011', '11/9/2011', 'First Class', 'TS-21340', 'Toby Swindell', 'Consumer', 'Porirua', 'Wellington', 'New Zealand', None, 'APAC', 'Oceania', 'FUR-CH-10004050', 'Furniture', 'Chairs', 'Novimex Executive Leather Armchair, Adjustable', 1822.08, 4, 0.0, 564.84, 894.77, 'Critical'), (7, 31192, 'IN-2012-86369', '4/14/2012', '4/18/2012', 'Standard Class', 'MB-18085', 'Mick Brown', 'Consumer', 'Hamilton', 'Waikato', 'New Zealand', None, 'APAC', 'Oceania', 'FUR-TA-10002958', 'Furniture', 'Tables', 'Chromcraft Conference Table, Fully Assembled', 5244.84, 6, 0.0, 996.48, 878.38, 'High'), (8, 40155, 'CA-2014-135909', '10/14/2014', '10/21/2014', 'Standard Class', 'JW-15220', 'Jane Waco', 'Corporate', 'Sacramento', 'California', 'United States', 95823.0, 'US', 'West', 'OFF-BI-10003527', 'Office Supplies', 'Binders', 'Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind', 5083.96, 5, 0.2, 1906.485, 867.69, 'Low'), (9, 40936, 'CA-2012-116638', '1/28/2012', '1/31/2012', 'Second Class', 'JH-15985', 'Joseph Holt', 'Consumer', 'Concord', 'North Carolina', 'United States', 28027.0, 'US', 'South', 'FUR-TA-10000198', 'Furniture', 'Tables', 'Chromcraft Bull-Nose Wood Oval Conference Tables & Bases', 4297.644, 13, 0.4, -1862.3124, 865.74, 'Critical')]

In [ ]:
from sqlalchemy import insert
stmt=insert(orders)
values_list=[{'Row ID':60001,
'Order ID':'CA-2012-124891',
'Order Date':'7/31/2012',
'Ship Date':'8/31/2012',
'Ship Mode':'Second Class',
'Customer ID':'RH-19495',
'Customer Name':'chandansj',
'Segment':'Consumer',  
'City':'New York City',
'State':'karnatak',
'Product ID':'TEC-AC-10003033',          
'Category':'Technology',
'Sub-Category':'Accessories',
'Product Name':'Nokia Smart Phone with Caller ID',
'Sales':5478,
'Quantity':2,
'Discount':0.0,
'Profit':458,
'Shipping Cost':234,
'Order Priority':'Critical'},
{'Row ID':60003,
'Order ID':'CA-2012-124891',
'Order Date':'7/31/2012',
'Ship Date':'8/31/2012',
'Ship Mode':'Second Class',
'Customer ID':'RH-19495',
'Customer Name':'charan',
'Segment':'Consumer',  
'City':'New York City',
'State':'karnat',
'Product ID':'TEC-AC-10003033',          
'Category':'Technology',
'Sub-Category':'Accessories',
'Product Name':'Nokia Smart Phone with Caller ID',
'Sales':5499,
'Quantity':3,
'Discount':0.0,
'Profit':450,
'Shipping Cost':228,
'Order Priority':'Critical'},
{'Row ID':60004,
'Order ID':'CA-2012-124891',
'Order Date':'9/20/2012',
'Ship Date':'8/30/2012',
'Ship Mode':'Class',
'Customer ID':'RH-19495',
'Customer Name':'sneha',
'Segment':'Consumer',  
'City':'Chicago',
'State':'Chicago',
'Product ID':'TEC-AC-10003033',          
'Category':'Technology',
'Sub-Category':'Accessories',
'Product Name':'Nokia Smart Phone with Caller ID',
'Sales':5499,
'Quantity':3,
'Discount':0.0,
'Profit':450,
'Shipping Cost':228,
'Order Priority':'Critical'},
{'Row ID':60005,
'Order ID':'CA-2016-1246789',
'Order Date':'7/20/2012',
'Ship Date':'8/15/2012',
'Ship Mode':'Second Class',
'Customer ID':'RH-19495',
'Customer Name':'maruthi',
'Segment':'Consumer',  
'City':'New York City',
'State':'karnat',
'Product ID':'TEC-AC-10003033',          
'Category':'Technology',
'Sub-Category':'Accessories',
'Product Name':'Nokia Smart Phone' ,
'Sales':9000,
'Quantity':7,
'Discount':20,
'Profit':678,
'Shipping Cost':678,
'Order Priority':'Critical'},
{'Row ID':60006,
'Order ID':'CA-2012-124891',
'Order Date':'7/31/2012',
'Ship Date':'8/31/2012',
'Ship Mode':'Second Class',
'Customer ID':'RH-19495',
'Customer Name':'ankith',
'Segment':'Consumer',  
'City':'New York City',
'State':'karnat',
'Product ID':'TEC-AC-10003033',          
'Category':'Technology',
'Sub-Category':'Accessories',
'Product Name':'Nokia Smart Phone with Caller ID',
'Sales':5499,
'Quantity':3,
'Discount':0.0,
'Profit':450,
'Shipping Cost':228,
'Order Priority':'Critical'}]
res_proxy1=connection.execute(stmt,values_list)
print(res_proxy1.count)

In [131]:
stmt='select * from orders'
for i in range(-1,-5,-1):
    orders=connection.execute(stmt).fetchall()[i]
    print(orders)

(None, 60006, 'CA-2012-124891', '7/31/2012', '8/31/2012', 'Second Class', 'RH-19495', 'ankith', 'Consumer', 'New York City', 'karnat', None, None, None, None, 'TEC-AC-10003033', 'Technology', 'Accessories', 'Nokia Smart Phone with Caller ID', 5499.0, 3, 0.0, 450.0, 228.0, 'Critical')
(None, 60005, 'CA-2016-1246789', '7/20/2012', '8/15/2012', 'Second Class', 'RH-19495', 'maruthi', 'Consumer', 'New York City', 'karnat', None, None, None, None, 'TEC-AC-10003033', 'Technology', 'Accessories', 'Nokia Smart Phone', 9000.0, 7, 20.0, 678.0, 678.0, 'Critical')
(None, 60004, 'CA-2012-124891', '9/20/2012', '8/30/2012', 'Class', 'RH-19495', 'sneha', 'Consumer', 'Chicago', 'Chicago', None, None, None, None, 'TEC-AC-10003033', 'Technology', 'Accessories', 'Nokia Smart Phone with Caller ID', 5499.0, 3, 0.0, 450.0, 228.0, 'Critical')
(None, 60003, 'CA-2012-124891', '7/31/2012', '8/31/2012', 'Second Class', 'RH-19495', 'charan', 'Consumer', 'New York City', 'karnat', None, None, None, None, 'TEC-AC-10003033', 'Technology', 'Accessories', 'Nokia Smart Phone with Caller ID', 5499.0, 3, 0.0, 450.0, 228.0, 'Critical')

In [147]:
from sqlalchemy import update
stmt=connection.execute("update orders set city='chikkamagalur' where Segment='Consumer'")

In [148]:
stmt='select * from orders'
for i in range(-1,-5,-1):
    orders=connection.execute(stmt).fetchall()[i]
    print(orders)

(None, 60006, 'CA-2012-124891', '7/31/2012', '8/31/2012', 'Second Class', 'RH-19495', 'ankith', 'Consumer', 'chikkamagalur', 'karnat', None, None, None, None, 'TEC-AC-10003033', 'Technology', 'Accessories', 'Nokia Smart Phone with Caller ID', 5499.0, 3, 0.0, 450.0, 228.0, 'Critical')
(None, 60005, 'CA-2016-1246789', '7/20/2012', '8/15/2012', 'Second Class', 'RH-19495', 'maruthi', 'Consumer', 'chikkamagalur', 'karnat', None, None, None, None, 'TEC-AC-10003033', 'Technology', 'Accessories', 'Nokia Smart Phone', 9000.0, 7, 20.0, 678.0, 678.0, 'Critical')
(None, 60004, 'CA-2012-124891', '9/20/2012', '8/30/2012', 'Class', 'RH-19495', 'sneha', 'Consumer', 'chikkamagalur', 'Chicago', None, None, None, None, 'TEC-AC-10003033', 'Technology', 'Accessories', 'Nokia Smart Phone with Caller ID', 5499.0, 3, 0.0, 450.0, 228.0, 'Critical')
(None, 60003, 'CA-2012-124891', '7/31/2012', '8/31/2012', 'Second Class', 'RH-19495', 'charan', 'Consumer', 'chikkamagalur', 'karnat', None, None, None, None, 'TEC-AC-10003033', 'Technology', 'Accessories', 'Nokia Smart Phone with Caller ID', 5499.0, 3, 0.0, 450.0, 228.0, 'Critical')

In [162]:
from sqlalchemy import update
stmt=connection.execute("delete from orders where Segment='Consumer'")

In [163]:
stmt='select * from orders'
for i in range(-1,-5,-1):
    orders=connection.execute(stmt).fetchall()[i]
    print(orders)

(51288, 9596, 'MX-2012-140767', '2/18/2012', '2/22/2012', 'Standard Class', 'RB-19795', 'Ross Baird', 'Home Office', 'Valinhos', 'SÃ£o Paulo', 'Brazil', None, 'LATAM', 'South', 'OFF-BI-10000806', 'Office Supplies', 'Binders', 'Acco Index Tab, Economy', 13.44, 2, 0.0, 2.4, 0.0, 'Medium')
(51287, 40470, 'US-2013-155768', '12/2/2013', '12/2/2013', 'Same Day', 'LB-16795', 'Laurel Beltran', 'Home Office', 'Oxnard', 'California', 'United States', 93030.0, 'US', 'West', 'OFF-EN-10001219', 'Office Supplies', 'Envelopes', '#10- 4 1/8" x 9 1/2" Security-Tint Envelopes', 22.92, 3, 0.0, 11.2308, 0.01, 'High')
(51285, 29002, 'IN-2014-62366', '6/19/2014', '6/19/2014', 'Same Day', 'KE-16420', 'Katrina Edelman', 'Corporate', 'Kure', 'Hiroshima', 'Japan', None, 'APAC', 'North Asia', 'OFF-FA-10000746', 'Office Supplies', 'Fasteners', 'Advantus Thumb Tacks, 12 Pack', 65.1, 5, 0.0, 4.5, 0.01, 'Medium')
(51284, 24175, 'IN-2014-57662', '8/5/2014', '8/10/2014', 'Standard Class', 'DB-13270', 'Deborah Brumfield', 'Home Office', 'Townsville', 'Queensland', 'Australia', None, 'APAC', 'Oceania', 'OFF-BI-10002424', 'Office Supplies', 'Binders', 'Avery Binder, Economy', 58.05, 5, 0.1, 19.95, 0.01, 'Medium')

In [175]:
from sqlalchemy import func
stmt=select([func.sum(orders.columns.Sales)])
print(connection.execute(stmt).scalar())

AttributeError: Could not locate column in row for column 'columns'

In [176]:
from sqlalchemy import func
stmt='SELECT SUM(Sales) from orders'
print(connection.execute(stmt).scalar())

6111146.754020105

In [177]:
from sqlalchemy import func
stmt='SELECT MAX(Sales) from orders'
print(connection.execute(stmt).scalar())

22638.48

In [178]:
from sqlalchemy import func
stmt='SELECT MIN(Sales) from orders'
print(connection.execute(stmt).scalar())

0.556

In [179]:
from sqlalchemy import func
stmt='SELECT COUNT(*) from orders'
print(connection.execute(stmt).scalar())

24632